header{
    background: url("../pictures/01.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align: left;
    height: 600px;
    overflow: hidden;
    
}
/* header .row{
    margin: 500px 0px;
} */

header h2{
    color: #a82d49;
    font-size: 65px;
    line-height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 90%;

}

header p{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    font-size: 18px;
    width: 90%;
    
}

header button {
    width: 150px;
    height: 50px;
    background-color:#a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
}